@keyframes dropDown{
    from{
        transform: translateY(20px);
    }

    to{
        transform: translateY(0);
    }
}


:root{
    --primary: #0D0A0B;
    --secondary: #0b0d0f;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins', sans-serif;
    /* color: white; */
    color: #EFE9F4;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   padding: 1rem 1.5rem 0 1.5rem;
   background-color: #BDC2BF;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    /* width: 600px; */
    padding: 2rem;
    border-radius: 10px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.c-f p span{
    font-size: 1.4rem;
    cursor: pointer;
}

.c-f p{
    display: flex;
    gap: 0.8rem;
}

input{
    border: none;
    color: #EFE9F4;
    width: 210px;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    border-radius: 10px;
}

input::placeholder{
    color: #EFE9F4;
    opacity: 1;
}
input:focus-visible{
   outline: 0;
}

input:focus{
    border: none;
}

.search{
    background-image: url(img/search.svg);
    background-repeat: no-repeat;
    background-color: var(--secondary);
    background-position: 2%;
}


.location{
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 2rem;
    line-height: 1.4;
}

.condition{
margin-top: 2rem;
width: 100%;
display: flex;
justify-content: center;
}
.condition p{
    width: fit-content;
   text-align: center;
   background-color: var(--secondary);
   padding: 0.4rem 0.5rem;
   border-radius: 1rem;
}

.img{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.extra-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.extra{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary);
    padding: 0.5rem 0.6rem;
    border-radius: 0.7rem;
}

.extra p{
    font-size: 0.9rem;
}

.active{
    color: #09814A;
}

.info{
    /* opacity: 0;
    transition: opacity 1s ease-in; */

    animation: dropDown 1s;
}

.hidden{
    display: none;
};


